@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Martel:100,200,300,400,500,600,700');
/*------------- colour /font*/
body {
    background:#ffa500;
    font-family: "Martel", sans-serif;


}
/*------------- general*/

.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}




/*------------- Nav*/
.bg-dark {
    background-color: #000!important;
}

/*-------------------fixtures*/

.jumbotron-fluid {

    font-family: "Martel", sans-serif;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
/*-------------------image background */

.football-image {
  background: url('../images/Football.jpg');
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.welcome { 
       padding: 10px;
    
}


/*-------------------How to find */

.howtofind {
    padding: 10px;
    background-color: black;
    color: white;
}

/*------------------- badges */

.badge {
    width: 260px;
    margin: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    border-radius: 15px;
    background-color: black;

}

p {
    font-family: "Martel", sans-serif;
    font-size: 14px;
    padding: 10px;
    text-decoration: none !important;

}

/* ----------------------------------------profile */

.propad {
    padding-top: 10px;
}

.pro-bar {
    margin-bottom: 5px;
}

/* ----------------------------------------7s */

.sevens {
    padding: 10px;
}

.submit {
    margin-top: 10px;
}

.form {
    padding: 10px;
}



.message {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
}
/*-------------------------------------------contact*/

.com-image {
  background: url('../images/com.jpg');
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.report-image {
	background: url('../images/zreport.gif');
	background-color: black;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
}


/* ----------------------------------------Footer */


footer {
    background-color:#000;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding: 30px;
}

.sponsor {
    padding: 50px;
    
}



h5 {
    padding: 10px;

}

.copy {
    margin: 0;
}

.social-club {
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:#ffa500;
}

#footer-details {
    padding: 20px;
}

 .Socialfoot {
    font-family: "Martel", sans-serif;
    font-weight:400;
    color: #fafafa;
    text-align: center;
}
